<html>
<head>
    <title>Mongo List</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-resource.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
</head>



<body ng-app="mongoList" ng-controller="MainCtrl">

    <script type="text/ng-template" id="/home.html">
        <div class="page-header">
            <h1>Flapper News</h1>
        </div>

        <form ng-submit="addListing()">
            <input type="text" placeholder="Title" ng-model="title" /><br>

            <input type="text-area" placeholder="Description" ng-model="description" /><br>

            <button type="submit">Create Listing</button>
        </form>

        <div ng-repeat="listing in listings">
            Title: <a ng-href="#/listings/{{listing._id}}">{{ listing.title }}</a>
            - Likes: {{ listing.likes }}</br>
            {{ listing.description }}
            <hr>
        </div>

    </script>

    <script type="text/ng-template" id="/listings.html">
        <a href="#/home">Home</a>
        <h1>Listing for {{listing._id}}</h1>

        <a href="" ng-click="showDetails=true">Show</a>
        <a href="" ng-click="showDetails=false">Hide</a>

        <p ng-hide="showDetails">{{listing.title}}</p>
        <h2 ng-show="showDetails">{{listing.description}}</h2>

        <span>Likes: {{listing.likes}}</span>
        <a href="" ng-click="addLike()">Like</a>

        <ul>
            <li ng-repeat="question in listing.questions">
                {{question.body}} by <strong>{{question.customer}}</strong>
            </li>
        </ul>

        <form ng-submit="addQuestion()">
            <input type="text" placeholder="Question" ng-model="question" />
            <input type="text" placeholder="Name" ng-model="name" />

            <button type="submit">Add question</button>
        </form>
    </script>

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <ui-view></ui-view>
        </div>
    </div>
</body>
</html>